# Ignore .gitignore so NPM does not ignore the dist folder
# (NPM uses .gitignore by default when .npmignore is absent)

# Ignore directories we do not want in the package
.github
node_modules
.vscode
build/
*.log
*.tgz
playground/